.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vw;
  padding: 4vw;
  margin: 10vw auto 5vw auto;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  font-family: PressStart;
  background-color: green;

  h1 {
    margin: 0;
    font-size: 4vw;
    color: whitesmoke;
  }
}

.location-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20vw;
  background-color: lightseagreen;
  border: 1px solid black;
}

.location-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;

  h3 {
    font-family: KongText;
  }

  select {
    width: 30vw;
    height: 5vw;
    padding-left: 2vw;
  }
}

.enter-btn {
  width: 20vw;
  height: 5vw;
  background-color: rgb(170, 227, 250);
}
