.item-card {
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 55vw;
  margin: 1.4%;
  padding: 2%;
  font-size: 90%;
  background-color: $parchment;
  box-shadow: $shadow-dark;
  overflow-y: scroll;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
  margin-top: 2%;
  margin-bottom: 7%;

  img {
    align-self: center;
    width: 80%;
    height: 100%;
    border: 1px solid rgb(7, 60, 7);
    box-shadow: $shadow-light;
  }
}

.item-info {
  display: flex;
  flex-direction: column;
  padding: 3% 2% 2% 2%;
  margin-bottom: 3%;
  width: 100%;
  height: 60%;
  list-style-type: none;

  p {
    width: 100%;
    font-family: $Roboto;
    margin: 2% auto 6% auto;
  }
}

.item-name {
  color: rgb(30, 62, 158);
  text-shadow: 1px 1px rgb(42, 211, 233);
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-weight: 500;
  font-size: 1.75vw;
}

.item-locations {
  font-size: 1.5vw;
}

.item-description {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}