.main-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

// GOAL SELECT

.goal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 35%;
}

.goal-heading {
  height: 30%;
  justify-content: flex-end;
  font-family: PressStart;
  
  h4 {
    margin: 2vw;
    color: rgb(255, 255, 255);
    font-size: 2vw;
  }
}

.goal-btn-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-evenly;
  justify-content: space-evenly;
  width: 65%;
  height: 100%;
  min-height: 15vw;
  margin-top: 2%;
  padding: 1%;
  border: 2px solid black;
  background-color: rgb(23, 104, 23);

  span {
    font-family: PressStart;
    font-size: 1.75vw;
    color: ghostwhite;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
  }

  article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    a {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 32%;
      height: 30%;
      margin: 0;
      padding: 2%;
    }
  }

  .goal-btn {
    width: 100%;;
    height: 100%;
    min-height: 5vw;
    font-family: KongText;
    font-size: 1.25vw;
    text-transform: uppercase;
    color: black;
    text-shadow: 1px 1px ghostwhite;
  }
}

@media screen and (max-width: 770px) {}

@media screen and (max-width: 651px) {

  .goal-btn {
    max-width: 90%;
  }

}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 376px) {}