.main-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.welcome-message {
  margin: 2% auto 2% auto;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 3vw;
}

.welcome-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  
  h4 {
    margin-bottom: 1%;
    font-size: 1.4vw;
    letter-spacing: 0.25vw;
    text-shadow: 1px 2px black;
    color: skyblue;
  }

  h3 {
    margin-bottom: 1%;
    font-size: 2.2vw;
    color:gold;
    text-shadow: 2px 2px black;
  }
}

// SEARCH

.search-section {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 30%;
  min-height: 10vw;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1%;
  margin-bottom: 2vw;
  color: ghostwhite;
  background-color: rgba(5, 73, 219, 0.589);
  border: 3px solid rgb(228, 231, 26);
  font-family: KongText;
  
  h3 {
    font-size: 1.5vw;
    height: 50%;
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px black;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 50%;
  padding: 0;

  input {
    width: 80%;
    height: 100%;
    min-height: 4vw;
    margin: 0 5% 0 0;
    text-align: center;
    font-size: 1.5vw;
    font-family: $Roboto;
  }

  button {
    width: 30%;
    height: 100%;
    min-height: 4vw;
    font-size: 1.3vw;
    border: 2px solid black;
    color: black;
    text-shadow: 2px 2px ghostwhite;
    background-color: lightgray;
  }
}

// GOAL SELECT

.goal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 80%;
  height: 30%;
  min-height: 20vw;
}

.goal-heading {
  height: 30%;
  justify-content: flex-end;
  font-family: PressStart;
  
  h4 {
    width: 100%;
    height: 40%;
    margin-bottom: 1%;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
  }
  
  h3 {
    width: 100%;
    height: 60%;
    margin: 0;
    font-size: 2vw;
    color: rgb(242, 100, 237);
    text-shadow: 2px 2px rgb(7, 7, 9);
  }
}

.goal-btns {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-evenly;
  justify-content: space-evenly;
  width: 65%;
  height: 60%;
  min-height: 15vw;
  margin-top: 2%;
  padding: 1%;
  background-color: skyblue;
  border: 4px solid gold;
  font-family: KongText;

  article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    a {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 32%;
      height: 100%;
      margin: 0;
      padding: 2%;
    }
  }

  button {
    width: 100%;;
    height: 100%;
    min-height: 5vw;
    font-size: 1.25vw;
    text-transform: uppercase;
    color: ghostwhite;
    background-color: darkgreen;
  }
}
