// fonts

@font-face {
  font-family: 'KongText';
  src: url('./assets/fonts/kongtext/kongtext.ttf') format('truetype')
}

@font-face {
  font-family: 'PressStart';
  src: url('./assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype')
}

